.TopButtons .city-list {
  gap: 20px;
  margin: 0 auto;
}

.TopButtons button {
  background: var(--btn-bg);
  border: 1px solid;
  border-radius: 80px;
  padding: 5px 15px;
}

.TopButtons .active {
  background-color: var(--primary-color);
  color: #000;
}

@media (max-width: 639px) {
  .TopButtons,
  .TopButtons .city-list {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .TopButtons .city-list {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .TopButtons .city-list.flex {
    max-height: 300px;
  }
}
